{% extends 'base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h2 class="recipe_name">My certificates</h2>
        <div class="container">
            <div class="slider-container">
                <div class="slider">
                  <div class="slider_item"><img src="../static/img/QA.png" alt="Сертификат по QA"></div>
                  <div class="slider_item"><img src="../static/img/python.png" alt="Сертификат по Python"></div>
                  <div class="slider_item"><img src="../static/img/sql.png" alt="Сертификат по SQL"></div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/slider.js"></script>
{% endblock %}
