{% extends 'base.html'%}



{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="spisok_rec">
            <div class="all_rec">
                <div class="recipies">
                    {% for el in recipies1 %}
                        <div class='link_rec'>
                            <a href="{% url 'recipe' el.pk %}">{{ el.title }}</a><br>
                        </div>
                    {% endfor %}
                </div>
                <div class="recipies">
                    {% for el in recipies2 %}
                        <div class='link_rec'>
                            <a  href="{% url 'recipe' el.pk %}">{{ el.title }}</a><br>
                        </div>

                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

{% endblock %}
