{% extends 'base.html'%}



{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="cont">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="cont-forma">
                <div class="cont-forma1  form-control">
                    <h4>Title</h4>
                    {{ form.title }}
                </div>
                <div class="cont-forma2 form-control">
                    <h4>Describe</h4>
                    {{ form.describe }}
                </div>
            </div>

            <div class="cont-forma btn-img">
                {{ form.image }}
            </div>

            <div class="cont-forma">
                <div class="center_btn">
                    <div class="ad_btn-cont">
                        <button type="submit" class="add_btn">ADD RECIPE</button>
                    </div>
                </div>

            </div>

            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}
