{% extends 'main/base.html'%}



{% block title %}
{{ title }}
{% endblock %}



{% block content %}






<h1 class="recipe_name">Recipe of the day</h1>
<!--{% for el in recipies %}
<div class="recipe">
    <div class="container">
        <div class="opisanie t-centr">
            <img  src="{{el.image.url}}" height="400px" width="400px">
            <div class="opisanie-inner title ">
                <p>{{el.title}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}--!>


<div class="recipe">
    <div class="container">
        <div class="opisanie t-centr">
            <img id="image" src="{{randrec.image.url}}" height="400px" width="400px">
            <div class="opisanie-inner title ">
                <p>{{randrec.title}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


