{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header_footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header_logo-cont">
        <div class="header_logo">
            <h1 class="header_logo-inner"><a class='logo_link' href="{% url 'home' %}">HERITAGE</a></h1>
            <h5><a class="logo_link" href="{% url 'home' %}">project</a></h5>
        </div>
    </div>
    <header class="container-fluid ">
            <div class="container">

                <nav class="menu">
                    <div>
                        <a href="{% url 'home' %}">HOME</a>
                        <a href="{% url 'about' %}">ABOUT ME</a>
                        <a id="create" href="{% url 'create' %}">ADD RECIPE</a>
                        <a id='all_rec' href="{% url 'all' %}">ALL RECIPIES</a>
                    </div>

                    <div class="menu_user">
                        {% if user.is_authenticated %}
                        <a id="user" href="#">USER:   {{ user }}<a> |
                        <a id='logout' href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a id="login" href="{% url 'login' %}">Login</a> |
                        <a id="register" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>



                </nav>
            </div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>